.mainpage-wrapper {

	
	text-align: center;

}

.mainpage-title {
	font-size: 350%;
	font-weight: bold;
	
	margin: 15px;
}

.mainpage-catchcopy {
	font-size: 125%;
	color: #555555;

	margin-top: 30px;

}

.mainpage-button-wrapper {
	display: inline-block;
	margin: 5px 15px;
}

.mainpage-buttons {
	margin-top: 30px;
}

@media screen and (max-width: 384px) {
	.mainpage-button-wrapper {
		margin: 5px;
	}
}

