.pdetail-name-wrapper {
	border-bottom: 2px solid #eeeeee;
}

.pdetail-name {
	font-size: 200%;
	font-weight: bold;
	width: 100%;
}

.pdetail-content {
	display: flex;
}

.pdetail-introduction {
	display: block;
	width: 70%;
	padding-top: 10px;
	border-right: 2px solid #eeeeee;
	float: left;

	box-sizing: border-box;
	
	padding: 10px;
	padding-left: 5px;

}

.pdetail-property {
	font-size: 75%;
	color: #999999;
}

.pdetail-property-wrapper {
	display: inline-block;
	width: 30%;
	float: left;

	padding: 10px;
	box-sizing: border-box;
}

.pdetail-property-wrapper h3{
	margin: 0;
	margin-top: 5px;
	margin-bottom: 10px;
	color: #555555;
	width: 100%;
	border-bottom: 1px solid #eeeeee;
}

.pdetail-site-title {
	font-size: 75%;
}

.pdetail-site-url {
	font-size: 90%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media screen and (max-width: 600px) {
	
	.pdetail-content {
		display: block;
	}

	.pdetail-introduction {
		display: block;
		width: 100%;
		border-right: none;
		border-bottom: 3px solid #eeeeee;
	}

	.pdetail-property-wrapper {
		display: block;
		width: 100%;
		float: none;
	}
}
