.ptag_wrapper {
  display: inline-block;

  background-color: white;

  border: 1px solid #999999;
  border-radius: 1rem;

  margin: 1%;
  padding: 1% 3%;

  font-size: 0.7rem;
  line-height: 1rem;
}
