.plv_wrapper {
  display: block;
  background-color: #f8f8f8;
  box-sizing: border-box;
  min-width: 200px;
  width: calc(33.333333vw - 10px);
  height: 200px;
  margin: 5px;
  padding: 7px;
  border: 1px solid #888888;
  border-radius: 15px;
  overflow: hidden;
  float: left;
}

.plv_hr {
  margin-top: 3px;
  margin-bottom: 3px;
  border: 1px solid #cccccc;
}

.plv_tags {
  margin-left: -3px;
  margin-right: -3px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.plv_title {
  font-weight: bold;
  font-size: 24px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
