.title {
  font-size: 150%;
  font-weight: bold;

  line-height: 1.4em;

  border-bottom: 1px solid #999999;

  margin-bottom: 1em;
}

.form_wrapper {
  display: block;
  max-width: 30rem;
  margin: 0 auto;
}
