.avatertt-wrapper{
	border-radius: 3px;
	background-color: white;
	text-align: center;
}

.avatertt-pic {
	vertical-align: bottom;
	margin-right: 5px;
}

.avatertt-name {
	border-bottom: 1px solid #999999;
	white-space: nowrap;
	text-align: left;
}

.avatertt-id {
	font-family: monospace;
	font-size: 90%;
	white-space: nowrap;
	text-align: left;
}
