.footer {

	position: relative;
	height: 170px;
	
	background-color: #b3cae3;
	color: black;

	padding: 15px;
	box-sizing: border-box;

}

.copyright {
	position: absolute;
	left: 0;
	bottom: 10px;

	width: 100%;

	font-size: 75%;

	text-align: center;
}

.footer-row {
	display: block;
	width: calc(100vw / 3 - 10px - (100vw - 100%) / 3);
	float: left;

	font-size: 85%;

}

.footer-row-title {
	font-weight: bold;
	font-size: 110%;
}

.footer-row-content {
	display: block;
	margin: 20px 0 0;
	padding: 0;
}

.footer-row-content li{
	list-style: none;
	padding-left: 15px;
	margin-bottom: 10px;
}

@media screen and (max-width: 550px) {

	.footer {
		height: 35px;
	}

	.footer-row {
		display: none;
	}
}
