/* ヘッダー用のCSS */

.header {
	height: 70px;
	background-color: #6094c4;
	-ms-user-select: none; /* IE 10+ */
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;

}

.header-logo {
	display: inline-block;

	width: 150px;
	line-height: 70px;
	
	padding: 0 16px;

	color: #eeeeee;

	font-size: 32px;
	font-weight: bold;

	text-align: center;
	
	float: left;

}

.header-search-text {
	overflow: hidden;
}

.header-search-text input {
	
	box-sizing: border-box;
	
	width: 100%;
	height: calc(70px - 32px);
	
	margin: 16px 0;
	padding: 0 12px;

	border: none;
	border-radius: 8px;

	background-color: #4074a4;
	color: #dddddd;

	font-size: 16px;
	vertical-align: middle;
	
	-ms-user-select: auto; /* IE 10+ */
	-moz-user-select: -moz-auto;
	-khtml-user-select: auto;
	-webkit-user-select: auto;
	user-select: auto;

	transition: all 0.25s;

}

.header-search-text input:focus {
	outline: 0;
	background-color: #d9edff;
	color: #333333;
}

.header-search-btn {
	
	display: inline-block;
	
	line-height: 70px;

	margin: 0 10px;
	
	font-size: 24px;

	color: #333333;
	
	float: right;

}

.header-search-btn:hover {
	color: #a0c4f4;
}


.header-btn-wrapper {

	display: inline-block;
	float: right;

}

.header-btn {
	float: right;
	
	line-height: 70px;
	
	width: 150px;
	height: 100%;

	padding: 0 8px;

	border-left: 3px solid #4084b4;

	font-size: 18px;
	text-align: center;
	
	color: #ffffff;
	background-color: #70a4d4;
	
	transition: all 0.25s;

}

.header-btn:hover {
	background-color: #90c4f4;
}

.new-regist {
	font-size: 130%;
	font-weight: bold;
}

@media screen and (max-width: 880px) {
	.header-btn+.resp-low-prio{
		display: none;
	}
}

@media screen and (max-width: 700px) {
	.header-btn {
		display: none;
	}
}

@media screen and (max-width: 450px) {
	.header-search-text, .header-search-btn {
		display: none;
	}

	.header-logo {
		box-sizing: border-box;
		width: 100%;
		text-align: center;
	}

}
