.App {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.app-content-wrapper {

	min-height: calc(100vh - 70px - 170px); /* Viewport's full size - header - footer */
	box-sizing: border-box;

	display: block;
	/* background-color: #e5f0fd; */


	padding: 30px;
}

@media screen and (max-width: 550px) {
	.app-content-wrapper {
		min-height: calc(100vh - 70px - 35px); /* Viewport's full size - header - footer */
	}
}
